<div class="ui form segment">
  <div class="field">
    <label>Session Name</label>
    <input ng-model="name" type="text">
  </div>
  <div class="field">
    <label>Session Id</label>
    <input ng-model="id" type="text">
  </div>
  <div class="ui button" ng-click="create()">Create</div>
</div>