<div class="ui segment basic">
  <div class="ui message" ng-hide="devices.length > 0">
  
    <h1 class="header">
      <i class="icon settings"></i>Settings
    </h1>

    <p>There aren't actually any settings at the moment</p>
  </div>
</div>