<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>SoundShower</title>
    <link rel="stylesheet" href="bower_components/semantic/build/packaged/css/semantic.min.css"></link>
    <link rel="stylesheet" href="/client/css/app.css"></link>
</head>
<body>
  
  <script src="/socket.io/socket.io.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-socket-io/socket.js"></script>
  <script src="/client/js/app.js"></script>
  <script src="/client/js/services.js"></script>
  <script src="/client/js/controllers.js"></script>
  <script src="/client/js/filters.js"></script>
  <script src="/client/js/directives.js"></script>
</body>
</html>
